<div class="wishlist-div">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{name}}</mat-card-title>
      <mat-card-subtitle *ngIf="wishlistDataSource == 0 ">
        <br>Your Wishlist is Empty. Start placing favorite items now!<br><br>
        <a color="primary" mat-raised-button [routerLink]="['/browse/topsellers']">Start Browsing</a>
      </mat-card-subtitle>
    </mat-card-header>
    <ng-container *ngIf="wishlistDataSource != 0">
      <table mat-table [dataSource]="wishlistDataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="CoverUrl">
          <th mat-header-cell *matHeaderCellDef> CoverUrl </th>
          <td mat-cell *matCellDef="let book"> <img src={{book.CoverUrl}}> </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let book"> {{book.Name}} </td>
          <td mat-footer-cell *matFooterCellDef> Total </td>
        </ng-container>
        <ng-container matColumnDef="Author">
          <th mat-header-cell *matHeaderCellDef> Author </th>
          <td mat-cell *matCellDef="let book"> By {{book.Author}} </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="Price">
          <th mat-header-cell *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let book"> {{book.RetailPrice | currency}} </td>
          <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
        </ng-container>
        <ng-container matColumnDef="Quantity">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let book"> {{book.Quantity}} </td>
          <td mat-footer-cell *matFooterCellDef> Total </td>
        </ng-container>
        <ng-container matColumnDef="Delete">
          <th mat-header-cell *matHeaderCellDef> Delete </th>
          <td mat-cell *matCellDef="let book">
            <button mat-icon-button style="color:red" (click)="deleteBookFromWishList(book)">
              <mat-icon>clear</mat-icon>
            </button>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="Switch To">
          <th mat-header-cell *matHeaderCellDef> Switch To</th>
          <td mat-cell *matCellDef="let book">
            <mat-select (selectionChange)="selected($event, book)">
              <mat-option *ngFor="let wishlist of wishlists" [value]="wishlist.Name">
                {{wishlist.Name}}
              </mat-option>
            </mat-select>
            <!--<app-add-to-cart [book]="book"></app-add-to-cart>-->
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="Add To Cart">
          <th mat-header-cell *matHeaderCellDef> Add To Cart</th>
          <td mat-cell *matCellDef="let book">
            <app-add-to-cart-wishlist [book]="book"></app-add-to-cart-wishlist>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <!--<ng-container matColumnDef="Add To WishList">
          <th mat-header-cell *matHeaderCellDef> Add To WishList</th>
          <td mat-cell *matCellDef="let book">
            <app-add-to-wishlist [book]="book"></app-add-to-wishlist>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>-->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
      </table>
    </ng-container>
  </mat-card>
</div>

<!--<button color="primary" mat-raised-button (click)="addToCart(book)">Add To Cart</button>-->
