<div class="row browse-list-item">
  <a [routerLink]="['/bookdetails', book.Id]">
    <img src="{{book.CoverUrl}}" *ngIf="book.CoverUrl !== null; else noImage" />

    <ng-template #noImage>
      <img src="https://islandpress.org/sites/default/files/400px%20x%20600px-r01BookNotPictured.jpg" />
    </ng-template>
  </a>

  <div class="browse-list-item-details">
    <a class="book-name" [routerLink]="['/bookdetails', book.Id]">{{book.Name}}</a>
    <h4>by {{book.Authors}}</h4>

    <div class="rating">
      <span class="rating-stars">
        <span *ngFor="let x of [1, 2, 3, 4, 5]">
          <span class="star" *ngIf="x <= book.Rating; else blankStar">&#9733;</span>

          <ng-template #blankStar>
            <span class="star">&#9734;</span>
          </ng-template>
        </span>

        <span class="rating-tooltip">{{book.Reviews === 0 ? 'Not Rated' : book.Rating | number: '1.0-1'}}</span>
      </span>
      <span class="rating-reviews">{{book.Reviews}} {{book.Reviews !== 1 ? "Reviews" : "Review"}}</span>
    </div>

    <h2>{{book.RetailPrice | currency}}</h2>
    <h5>Released on {{book.ReleaseDate | date: 'mediumDate'}}</h5>
  </div>


  <app-add-to-cart [book]="book"></app-add-to-cart>
</div>

