<div class="row browse-list-item">
  <img src="https://images-na.ssl-images-amazon.com/images/I/51fNhv2wHoL._SX322_BO1,204,203,200_.jpg" />

  <div class="browse-list-item-details">
    <h3>{{ book.Name }}</h3>
    <h4>by {{ book.Authors }}</h4>

    <div class="rating" *ngIf="book.NumberReviews > 1; else singleReview">
      <span class="stars">&#9733;&#9733;&#9733;&#9734;&#9734; ({{book.Rating}})</span>
      <span>{{ book.NumberReviews }} Reviews</span>
    </div>

    <ng-template #singleReview>
      <div class="rating">
        <span class="stars">&#9733;&#9733;&#9733;&#9734;&#9734; ({{book.Rating}})</span>
        <span>{{ book.Reviews }} Review</span>
      </div>
    </ng-template>

    <h2>${{ book.RetailPrice }}</h2>
    <h5>Released on Sept. 27, 2017</h5>
  </div>


  <app-add-to-cart [book]="book"></app-add-to-cart>
</div>

