
.browse-list-item {
  position: relative;
  min-width: 550px;
  margin: 30px;
  display: flex;
}

.browse-list-item {
  line-height: 28px;
}

img {
  height: 220px;
  width: auto;
  margin-right: 50px;
}

h3 {
  margin: 0;
  font-size: 22px;
  font-weight: 500;
}

h4 {
  margin: 0;
  font-weight: 500;
  color: darkslategray
}

h5 {
  font-size: 12px;
  font-weight: 300;
  color: gray;
}

.rating {
  font-size: 14px;
  margin: 5px 0px;
}

.rating span {
  vertical-align: middle;
}

.stars {
  font-size: 20px;
  color: mediumpurple;
  margin-right: 8px;
}



button {
  position: absolute;
  bottom: 0;
  right: 0;
}
