* {
  margin: 0px;
  padding: 0px;
}

.body {
  box-sizing: border-box;
}

:host {
  width: 100%;
}

.browse-list-item {
  position: relative;
  margin: 25px;
  display: flex;
  flex-wrap: nowrap;
}

img {
  height: 200px;
  width: auto;
  margin-right: 50px;
  box-shadow: 0px 6px 10px 0px lightgray, 0px 2px 4px 0px black;
}

h2 {
  font-size: 28px;
  margin-bottom: 5px;
}

h3 {
  font-size: 22px;
}

h4 {
  margin: 0;
  font-size: 15px;
  color: darkslategray
}

h5 {
  font-size: 12px;
  color: gray;
}

.rating {
  font-size: 14px;
  margin: 5px 0px;
}

.rating span {
  vertical-align: middle;
}

.stars {
  font-size: 20px;
  color: mediumpurple;
  margin-right: 8px;
}

button {
  position: absolute;
  bottom: 0;
  right: 0;
}
