<p>registration works!</p>

<h2>Sign Up</h2>

<!-- Registration Forms -->
<div class="registration">
  <p>
    <!-- Email form -->
    <mat-form-field appearance="outline">
      <mat-label>Email Address</mat-label>
      <input matInput placeholder="" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
    </mat-form-field><br />

    <!-- Username form -->
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput placeholder="" [formControl]="username" required>
      <mat-error *ngIf="username.invalid">{{getErrorMessageUsername()}}</mat-error>
    </mat-form-field><br />

    <!-- Password form -->
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput placeholder="" [formControl]="pw" required [type]="hide ? 'password' : 'text'">
      <mat-error *ngIf="pw.invalid">{{getErrorMessagePw()}}</mat-error>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field><br />

    <!-- Confirm Password form -->
    <mat-form-field appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input matInput placeholder="" [formControl]="cpw" required [type]="hide ? 'password' : 'text'">
      <mat-error *ngIf="cpw.invalid">{{getErrorMessageCPw()}}</mat-error>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field><br />

    <!-- First Name form -->
    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput placeholder="" [formControl]="fname" required>
      <mat-error *ngIf="fname.invalid">{{getErrorMessageFname()}}</mat-error>
    </mat-form-field><br />

    <!-- Last Name form -->
    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput placeholder="" [formControl]="lname" required>
      <mat-error *ngIf="lname.invalid">{{getErrorMessageLname()}}</mat-error>
    </mat-form-field><br />

    <!-- Login button -->
    <a [routerLink]="['/user/login']"><button mat-raised-button color="primary">Login</button></a><br />

    <!-- Signup button -->
    <button mat-raised-button color="primary">Sign Up</button>

</div>
