<div class="wishlist-div">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Wish List</mat-card-title>
      <mat-card-subtitle *ngIf="wishlists == 0 ">
        <br>Your Wishlist is Empty. Start placing favorite items now!<br><br>
        <a color="primary" mat-raised-button [routerLink]="['/browse/topsellers']">Create a Wishlist</a>
      </mat-card-subtitle>
    </mat-card-header>
    <ng-container *ngIf="wishlists != 0">

      <app-wishlist-button *ngFor="let todo of wishlists" [myWishlist]="todo">
        
      </app-wishlist-button>

    </ng-container>
  </mat-card>
</div>
