<div class="wishlist-div">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Wish List</mat-card-title>
      <mat-card-subtitle *ngIf="wishlists == 0 ">
        <br>Your Wishlist is Empty. Start placing favorite items now!<br><br>
        <a color="primary" mat-raised-button [routerLink]="['/browse/topsellers']">Create a Wishlist</a>
      </mat-card-subtitle>
    </mat-card-header>
    <ng-container *ngIf="wishlists != 0">

      <div *ngFor="let wishlist of wishlists" [ngClass]="setClasses()">
        <button (click)="onToggle(wishlist.Name)">Select</button>
        {{ wishlist.Name }}
        <button (click)="onDelete(wishlist)" class="del">x</button>
      </div>

    </ng-container>
  </mat-card>

  <!--<div [formGroup]="myGroup">
    <input formControlName="firstName">
  </div>

  In your class:

  this.myGroup = new FormGroup({
  firstName: new FormControl()
  });

  this.loginForm = new FormGroup({
  username: new FormControl()
  });
  -->

  <h5 class="card-header">Create Wishlist</h5>
  <div class="card-body">
    <form [formGroup]="createForm">
      <div class="form-row">
        <div class="form-group col-5">
          <label>Name</label>
          <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Username is required</div>
          </div>
        </div>
      </div>
      <div class="text-left">
        <button class="btn btn-primary mr-1" (click)="create()">Create</button>
      </div>
    </form>
  </div>

</div>
