
 
 
             
    <!-- 
    <div *ngFor = ' let book of books'>
            <img src="https://images-na.ssl-images-amazon.com/images/I/51fNhv2wHoL._SX322_BO1,204,203,200_.jpg"
            class="img-responsive center-block"
            style="max-height:300px;padding-bottom:50px" />
     <h1> Name: {{book.bookName}}</h1>
     <h1> Gender: {{book.bookGender}}</h1>
     <h1> Code: {{book.bookCode}}</h1>
     <h1> Release Date:{{book.releaseDate}}</h1>
     <h1> Price: {{book.price}}</h1>
     <h1> Description: {{book.description}}</h1>
     <h1> Rating: {{book.starRating}}</h1>
    <br>
    </div>

    <h1>boooks works</h1>
-->

    