<a class="top-sellers" [routerLink]="['/browse/topsellers', '']">Top Sellers</a>

<h1>Genres</h1>

<mat-grid-list cols="5" rowHeight="275">
  <mat-grid-tile *ngFor="let genre of genres">
    <div class="grid-item">
      <a [routerLink]="['/browse/genre', genre.Genre]">
        <img src="genre.Image" *ngIf="genre.Image !== null; else noImage"/>

        <ng-template #noImage>
          <img src="https://islandpress.org/sites/default/files/400px%20x%20600px-r01BookNotPictured.jpg"/>
        </ng-template>
      </a>
      <a class="genre-name" [routerLink]="['/browse/genre', genre.Genre]">{{genre.Genre}}</a>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<h1>Ratings</h1>
<ul>
  <li *ngFor="let rating of [1, 2, 3, 4, 5]">
    <a [routerLink]="['/browse/rating', rating]">{{rating }}</a>
  </li>
</ul>
