h1 {
  margin-left: 20px;
}

mat-form-field {
  font-size: 15px;
  width: 200px;
}

.row {
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
}

.sort-bar {
  height: 50px;
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
  flex: 1 1 auto;
  width: auto;
  background-color: lightgray;
}

.main-grid {
  margin-left: 10%;
  margin-right: 10%;
}

.browse {
  height: 500px;
  width: 200px;
  min-width: 200px;
  margin-top: 20px;
  background-color: azure;
}



.list-view {
  list-style-type: none;
  padding: 0px 0px 0px 3%;
  flex: 1 1 auto;
}

li {
  border-bottom: solid;
  border-color: lightsteelblue;
  border-width: 1px;
}
