@import '~@angular/material/theming';


@include mat-core();


$mat-geektext-primary: (
    50 : #f2eefb,
    100 : #dfd4f4,
    200 : #c9b8ed,
    300 : #b39be6,
    400 : #a385e0,
    500 : #9370db,
    600 : #8b68d7,
    700 : #805dd2,
    800 : #7653cd,
    900 : #6441c4,
    A100 : #ffffff,
    A200 : #eae3ff,
    A400 : #c4b0ff,
    A700 : #b196ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-geektext-accent: (
    50 : #f2eefb,
    100 : #dfd4f4,
    200 : #c9b8ed,
    300 : #b39be6,
    400 : #a385e0,
    500 : #9370db,
    600 : #8b68d7,
    700 : #805dd2,
    800 : #7653cd,
    900 : #6441c4,
    A100 : #ffffff,
    A200 : #eae3ff,
    A400 : #c4b0ff,
    A700 : #b196ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$geektext-theme-primary: mat-palette($mat-geektext-primary);
$geektext-theme-accent: mat-palette($mat-geektext-accent);

$geektexttheme: mat-light-theme($geektext-theme-primary, $geektext-theme-accent);

@include angular-material-theme($geektexttheme);
