<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="geektext-spacer"><img src="./assets/images/GeekTextLogo.png" ></span>
    <span class="material-spacer"></span>
    <mat-icon class="material-icon" aria-hidden="false" aria-label="wishlist icon">favorite</mat-icon>
    <mat-icon class="material-icon" aria-hidden="false" aria-label="shopping cart">shopping_cart</mat-icon>
    <mat-icon class="material-icon" aria-hidden="false" aria-label="account icon">account_circle</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
