<div class="header-container" [class.menu-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="header-toolbar">
    <a [routerLink]="['/']"><h1 class="mat-display-4">Geek Text</h1></a>
    <span class="material-spacer"></span>
    <a [routerLink]="['/cart']"><button [class.active]="toggleActive" mat-icon-button matTooltip="Redirects to Shopping Cart"
        aria-label="Shopping Cart"><mat-icon>shopping_cart</mat-icon></button>
    </a>
    <button mat-icon-button><mat-icon>favorite</mat-icon></button>
    <button mat-icon-button><mat-icon>account_circle</mat-icon></button>
  </mat-toolbar>

  <mat-sidenav-container class="header-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav position="end" #snav [mode]="mobileQuery.matches ? 'over' : 'over'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>