<div class="header-container" >
  <mat-toolbar color="primary" class="header-toolbar">
    <mat-toolbar-row class="toolbar-row">
      <a [routerLink]="['/']"><h1>Geek Text</h1></a>
      <span class="material-spacer"></span>
      <a [routerLink]="['/shopping-cart']"><button [class.active]="toggleActive" mat-icon-button (click)="snav.toggle()" matTooltip="Expands Shopping Cart"
          aria-label="Shopping Cart"><mat-icon>shopping_cart</mat-icon></button></a>
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>favorite</mat-icon></button>
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>account_circle</mat-icon></button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="header-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav position="end" #snav [mode]="mobileQuery.matches ? 'over' : 'over'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>
        <a [routerLink]="['/Checkout']"><button>Checkout</button></a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <p *ngFor="let content of fillerContent">{{content}}</p>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>