<p>profile works!</p>

<h2>Edit Profile</h2>

<!-- Edit Profile forms -->
<div class="profile">
  <p>
    <!-- Email form -->
    <mat-form-field appearance="outline">
      <mat-label>Email Address</mat-label>
      <input matInput placeholder="" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
    </mat-form-field><br />

    <!-- Username form -->
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput placeholder="" [formControl]="username" required>
      <mat-error *ngIf="username.invalid">{{getErrorMessageUsername()}}</mat-error>
    </mat-form-field><br />

    <!-- Optional Nickname form -->
    <mat-form-field appearance="outline">
      <mat-label>Nickname (optional)</mat-label>
      <input matInput placeholder="">
    </mat-form-field><br />

    <!-- First Name form -->
    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput placeholder="" [formControl]="fname" required>
      <mat-error *ngIf="fname.invalid">{{getErrorMessageFname()}}</mat-error>
    </mat-form-field><br />

    <!-- Lasr Name form -->
    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput placeholder="" [formControl]="lname" required>
      <mat-error *ngIf="lname.invalid">{{getErrorMessageLname()}}</mat-error>
    </mat-form-field><br />

<!-- Billing accordians (3) -->
<div class="billing">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Billing Address 1
        </mat-panel-title>
      </mat-expansion-panel-header>

      <!-- Street Address form -->
      <mat-form-field appearance="outline">
        <mat-label>Street Address</mat-label>
        <input matInput placeholder="" [formControl]="address" required>
        <mat-error *ngIf="address.invalid">{{getErrorMessageAddress()}}</mat-error>
      </mat-form-field><br />

      <!-- City form -->
      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input matInput placeholder="" [formControl]="city" required>
        <mat-error *ngIf="city.invalid">{{getErrorMessageCity()}}</mat-error>
      </mat-form-field><br />

      <!-- State form -->
      <mat-form-field appearance="outline">
        <mat-label>State</mat-label>
        <input matInput placeholder="" [formControl]="state" required>
        <mat-error *ngIf="state.invalid">{{getErrorMessageState()}}</mat-error>
      </mat-form-field><br />

      <!-- Zip Code form -->
      <mat-form-field appearance="outline">
        <mat-label>Zip Code</mat-label>
        <input matInput placeholder="" [formControl]="zip" required>
        <mat-error *ngIf="zip.invalid">{{getErrorMessageZip()}}</mat-error>
      </mat-form-field><br />

      <!-- Option to set to default -->
      <mat-checkbox>Default billing address</mat-checkbox>

    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Billing Address 2
        </mat-panel-title>
      </mat-expansion-panel-header>

      <!-- Street Address form -->
      <mat-form-field appearance="outline">
        <mat-label>Street Address</mat-label>
        <input matInput placeholder="" [formControl]="address" required>
        <mat-error *ngIf="address.invalid">{{getErrorMessageAddress()}}</mat-error>
      </mat-form-field><br />

      <!-- City form -->
      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input matInput placeholder="" [formControl]="city" required>
        <mat-error *ngIf="city.invalid">{{getErrorMessageCity()}}</mat-error>
      </mat-form-field><br />

      <!-- State form -->
      <mat-form-field appearance="outline">
        <mat-label>State</mat-label>
        <input matInput placeholder="" [formControl]="state" required>
        <mat-error *ngIf="state.invalid">{{getErrorMessageState()}}</mat-error>
      </mat-form-field><br />

      <!-- Zip Code form -->
      <mat-form-field appearance="outline">
        <mat-label>Zip Code</mat-label>
        <input matInput placeholder="" [formControl]="zip" required>
        <mat-error *ngIf="zip.invalid">{{getErrorMessageZip()}}</mat-error>
      </mat-form-field><br />

      <!-- Option to set as default -->
      <mat-checkbox>Default billing address</mat-checkbox>

    </mat-expansion-panel>
    <mat-expansion-panel>

      <mat-expansion-panel-header>
        <mat-panel-title>
          Billing Address 3
        </mat-panel-title>
      </mat-expansion-panel-header>

      <!-- Street Address form -->
      <mat-form-field appearance="outline">
        <mat-label>Street Address</mat-label>
        <input matInput placeholder="" [formControl]="address" required>
        <mat-error *ngIf="address.invalid">{{getErrorMessageAddress()}}</mat-error>
      </mat-form-field><br />

      <!-- City form -->
      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input matInput placeholder="" [formControl]="city" required>
        <mat-error *ngIf="city.invalid">{{getErrorMessageCity()}}</mat-error>
      </mat-form-field><br />

      <!-- State form -->
      <mat-form-field appearance="outline">
        <mat-label>State</mat-label>
        <input matInput placeholder="" [formControl]="state" required>
        <mat-error *ngIf="state.invalid">{{getErrorMessageState()}}</mat-error>
      </mat-form-field><br />

      <!-- Zip Code form -->
      <mat-form-field appearance="outline">
        <mat-label>Zip Code</mat-label>
        <input matInput placeholder="" [formControl]="zip" required>
        <mat-error *ngIf="zip.invalid">{{getErrorMessageZip()}}</mat-error>
      </mat-form-field><br />

      <!-- Option to set as default -->
      <mat-checkbox>Default billing address</mat-checkbox>
    </mat-expansion-panel>
  </mat-accordion><br /><br /><br />
</div>


<!-- Payment Methods accordian (3) -->
<div class="paymentmethods">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Credit Card 1
        </mat-panel-title>
      </mat-expansion-panel-header>

      <!-- Cardholder Name form -->
      <mat-form-field appearance="outline">
        <mat-label>Cardholder's Name</mat-label>
        <input matInput placeholder="" [formControl]="nameCC" required>
        <mat-error *ngIf="nameCC.invalid">{{getErrorMessageNameCC()}}</mat-error>
      </mat-form-field><br />

      <!-- Card Num form -->
      <mat-form-field appearance="outline">
        <mat-label>Card's Number</mat-label>
        <input matInput placeholder="" [formControl]="ccNum" required>
        <mat-error *ngIf="ccNum.invalid">{{getErrorMessageccNum()}}</mat-error>
      </mat-form-field><br />

      <!-- Expire Date form -->
      <mat-form-field appearance="outline">
        <mat-label>Expiration Date</mat-label>
        <input matInput placeholder="" [formControl]="expire" required>
        <mat-error *ngIf="expire.invalid">{{getErrorMessageExpire()}}</mat-error>
      </mat-form-field><br />

      <!-- CSV form -->
      <mat-form-field appearance="outline">
        <mat-label>CSV</mat-label>
        <input matInput placeholder="" [formControl]="csv" required>
        <mat-error *ngIf="csv.invalid">{{getErrorMessageCSV()}}</mat-error>
      </mat-form-field><br />

      <!-- Option to set as default -->
      <mat-checkbox>Default payment method</mat-checkbox>

    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Credit Card 2
        </mat-panel-title>
      </mat-expansion-panel-header>

      <!-- Cardholder Name form -->
      <mat-form-field appearance="outline">
        <mat-label>Cardholder's Name</mat-label>
        <input matInput placeholder="" [formControl]="nameCC" required>
        <mat-error *ngIf="nameCC.invalid">{{getErrorMessageNameCC()}}</mat-error>
      </mat-form-field><br />

      <!-- Card Num form -->
      <mat-form-field appearance="outline">
        <mat-label>Card's Number</mat-label>
        <input matInput placeholder="" [formControl]="ccNum" required>
        <mat-error *ngIf="ccNum.invalid">{{getErrorMessageccNum()}}</mat-error>
      </mat-form-field><br />

      <!-- Expire Date form -->
      <mat-form-field appearance="outline">
        <mat-label>Expiration Date</mat-label>
        <input matInput placeholder="" [formControl]="expire" required>
        <mat-error *ngIf="expire.invalid">{{getErrorMessageExpire()}}</mat-error>
      </mat-form-field><br />

      <!-- CSV form -->
      <mat-form-field appearance="outline">
        <mat-label>CSV</mat-label>
        <input matInput placeholder="" [formControl]="csv" required>
        <mat-error *ngIf="csv.invalid">{{getErrorMessageCSV()}}</mat-error>
      </mat-form-field><br />

      <!-- Option to set as default -->
      <mat-checkbox>Default payment method</mat-checkbox>
    </mat-expansion-panel>
    <mat-expansion-panel>

      <mat-expansion-panel-header>
        <mat-panel-title>
          Credit Card 3
        </mat-panel-title>
      </mat-expansion-panel-header>

      <!-- Cardholder Name form -->
      <mat-form-field appearance="outline">
        <mat-label>Cardholder's Name</mat-label>
        <input matInput placeholder="" [formControl]="nameCC" required>
        <mat-error *ngIf="nameCC.invalid">{{getErrorMessageNameCC()}}</mat-error>
      </mat-form-field><br />

      <!-- Card Num form -->
      <mat-form-field appearance="outline">
        <mat-label>Card's Number</mat-label>
        <input matInput placeholder="" [formControl]="ccNum" required>
        <mat-error *ngIf="ccNum.invalid">{{getErrorMessageccNum()}}</mat-error>
      </mat-form-field><br />

      <!-- Expire Date form -->
      <mat-form-field appearance="outline">
        <mat-label>Expiration Date</mat-label>
        <input matInput placeholder="" [formControl]="expire" required>
        <mat-error *ngIf="expire.invalid">{{getErrorMessageExpire()}}</mat-error>
      </mat-form-field><br />

      <!-- CSV form -->
      <mat-form-field appearance="outline">
        <mat-label>CSV</mat-label>
        <input matInput placeholder="" [formControl]="csv" required>
        <mat-error *ngIf="csv.invalid">{{getErrorMessageCSV()}}</mat-error>
      </mat-form-field><br />

      <!-- Option to set as default -->
      <mat-checkbox>Default payment method</mat-checkbox>
    </mat-expansion-panel>
  </mat-accordion><br /><br /><br />
</div>

<!-- Change Password accordian (1) -->
<div class="changepw">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Change Password
        </mat-panel-title>
      </mat-expansion-panel-header>

      <!-- Old Password form -->
      <mat-form-field appearance="outline">
        <mat-label>Old Password</mat-label>
        <input matInput placeholder="" [formControl]="oldpw" required [type]="hide ? 'password' : 'text'">
        <mat-error *ngIf="oldpw.invalid">{{getErrorMessageOldPw()}}</mat-error>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field><br />

      <!-- New Password form -->
      <mat-form-field appearance="outline">
        <mat-label>New Password</mat-label>
        <input matInput placeholder="" [formControl]="newpw" required [type]="hide ? 'password' : 'text'">
        <mat-error *ngIf="newpw.invalid">{{getErrorMessageNewPw()}}</mat-error>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field><br />

      <!-- Confirm Password form -->
      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input matInput placeholder="" [formControl]="cpw" required [type]="hide ? 'password' : 'text'">
        <mat-error *ngIf="cpw.invalid">{{getErrorMessageCPw()}}</mat-error>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field><br />
    </mat-expansion-panel>
  </mat-accordion><br /><br /><br />
</div>

<!-- Save Changes Button -->
<div>
  <button mat-raised-button color="primary">Save Changes</button>
  <br />
</div>

<!-- Logout Button -->
<div>
  <a [routerLink]="['/user/login']"><button mat-raised-button color="primary">Logout</button></a>
  <br /><br /><br />
</div>
