h2 {
  margin: 0 5%;
  margin-bottom: 20px;
}

.profile {
  position: relative;
  bottom: 30px;
  top: 10px;
  margin: 0 5%;
}

.billing {
  position: relative;
  top: 20px;
  bottom: 30px;
  margin: 0 5%;
}

.paymentmethods {
  position: relative;
  top: 20px;
  bottom: 30px;
  margin: 0 5%;
}

.changepw {
  position: relative;
  top: 20px;
  bottom: 30px;
  margin: 0 5%;
}

button {
  margin: 0 5%;
  margin-bottom: 20px;
}
